<h1>Browser Game</h1>
<p> Login <input type="text"> </p>
<p>Password <input type="password"> </p>

<button type="button" onclick="window.location.href='/register/index'">Register</button>
<button type="button">Log in</button>