<h1>Trainer</h1>


<table style="width:40%">
  <tr>
    <th>Attack</th>
    <th>#war</th>
    <th>#war2</th>
   <th><button type="button">Click Me!</button></th>
  </tr>
  <tr>
    <th>Attack</th>
    <th>#war</th>
    <th>#war2</th>
    <th><button type="button">Click Me!</button></th>
  </tr>
  <tr>
    <th>Attack</th>
    <th>#war</th>
    <th>#war2</th>
    <th><button type="button">Click Me!</button></th>
  </tr>
</table>


