<h1>Work</h1>
<p>Your Gold:<%= @user.gold %></p>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>

</div>


<table style="width:30%">
  <tr>
    <td>Seconds</td>
  </tr>
  <tr>
    <td><select>
      <option value=10 >10 s</option>
      <option value=20>20 s</option>
      <option value=50>50 s</option>
      <option value=100>100 s</option>

    </select> </td>

  </tr>

</table>