<h1>Register</h1>
<p> Login <input type="text"> </p>
<p>Password <input type="password"> </p>
<p>Repeat Password <input type="password"> </p>
<p>Email <input type="text"> </p>


<button type="button" onclick="window.location.href='/main/index'">Cancel</button>
<button type="button">Registration</button>